:host {

    .folded:not(.unfolded) & {

        .nav-link {

            >.nav-link-title,
            >.nav-link-badge {
                opacity: 0;
                transition: opacity 200ms ease;
            }
        }
    }
}

.accent1 {
    background-color: rgba($color: #FFFFFF, $alpha: 0.1);
    color: #FFFFFF;
    border-bottom: 4px solid #efb577;
    mat-icon {
        fill: white !important;
    }
}