@import "src/@fuse/scss/fuse";

#chat {
  .center {
    padding: 32px !important;
    max-width: 2000px;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      padding: 0 !important;
    }

    .content-pos {
      margin-top: -27px !important;
    }

    .content-card {
      display: flex;
      flex: 1;
      position: relative;
      border-radius: 10px;

      //   .mat-sidenav-container {
      //     display: flex;
      //     flex: 1;
      //     width: 100%;

      //     > .mat-sidenav-content,
      //     > .mat-drawer-content {
      //       display: flex;
      //       flex: 1 1 auto;
      //       min-height: 100%;
      //       height: auto;
      //     }

      //     > .mat-drawer-content {
      //       max-width: 100%;
      //     }

      //     mat-sidenav {
      //       display: flex;
      //       flex-direction: column;
      //       width: 400px;
      //       max-width: 90%;
      //       box-shadow: 0 0 1px rgba(0, 0, 0, 0.37);
      //       overflow: hidden;
      //     }
      //   }
    }
  }

  .borderRight1 {
    border-left: 1px solid black;
    border-radius: 1px;
    opacity: 0.1;
    // margin-left: -20px;
    // margin-top: 35px;
  }

  .borderBottom1 {
    border-bottom: 1px solid #efb577;
    border-radius: 1px;

    // opacity: 0.1;
    // margin-left: -20px;
    // margin-top: 35px;
  }

  .borderRightSide {
    // margin-right: 20px;
    // margin-left: -24px;
    padding: 5px;
    padding-left: 10px;
  }

  .borderRightSide1 {
    margin-right: 20px;
    margin-left: -24px;
    padding: 5px;
    padding-left: 10px;
  }

  .search {
    height: 36px;
    line-height: 36px;
    padding: 8px;
    font-size: 13px;
    border-radius: 0px !important;
    border: 1px solid;
    overflow: hidden;
    background-color: #fafafa;
    border-color: rgba(0, 0, 0, 0.12);
    @include mat-elevation(1);

    mat-icon.s-16 {
      color: rgba(0, 0, 0, 0.54) !important;
    }

    .icon {
      margin: 0;
      color: rgba(0, 0, 0, 0.54);
    }

    input {
      padding: 0 12px 0 8px;
      background-color: #fafafa;
      height: 36px;
      border: none;
    }
  }

  .side-bar {
    display: flex;
    flex: 1;
    flex-direction: column;

    .sidenav-content {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .side-bar-items {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 24px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    margin-right: 7px;
  }

  .roundCommon {
    height: 20px;
    width: 20px;
    border-radius: 20px;
  }

  .round {
    @extend .roundCommon;
    background-color: white;
    // rgb(187, 185, 185)
    border: 2px solid gray;
    cursor: pointer !important;
  }

  .vertical-line {
    width: 3px;
    min-height: 50px;
    border: 2px solid gray;
    background: gray;
    margin: 5px auto 0px auto;
  }

  .no-results-message {
    position: absolute;
    width: 100%;
    height: 88px;
    padding: 16px;
    font-size: 15px;
    font-weight: 400;
  }

  .borderRightClass {
    border-right: 1px solid #dce1e9;
  }

  .round1 {
    @extend .roundCommon;
    background-color: #2ecc71;
    border: 2px solid #2ecc71;
  }

  .highLight {
    // background: lightgray;
    border-left: 5px solid #efb577;
    // margin-left: 20px;
    // margin-top: 8px;
  }

  .round1V {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #48c22b;
  }

  table {
    width: 100%;

    th {
      color: white;
      background-color: #121214;
      padding: 5px;
      border-right: 1px solid #e0e0e0;
      font-size: 12px;
    }

    td {
      padding-left: 15px;
      border-right: 1px solid #e0e0e0;
      padding: 5px;
      font-size: 12px;
    }

    tr {
      height: 40px;
    }

    .mat-input-element:disabled,
    .mat-input-element[readonly] {
      cursor: not-allowed !important;
      color: #3a3a3a !important;
    }
  }

  .boldClass {
    font-weight: bold;
  }

  .boldItalicClass {
    @extend .boldClass;
    font-style: italic;
  }

  .labelClass {
    @extend .boldClass;
    margin-top: 8px;
  }

  .imgClass {
    height: 20px;
  }

  .errorClass {
    color: red !important;
  }

  // svg path{
  //   fill: red !important;
  // }

  .cardHeader {
    background-color: #fffdf9;
    height: 50px;
  }

  .btnBg {
    background-color: #efb577 !important;
    color: white;
  }

  .btnOuter {
    color: #efb577 !important;
  }
}